body{
    height: 100%;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSxBjSvAD4ky5RiyEotN7V4YrEMgb68XWyJ2L6dqt3mJmpqqPxb");
    background-position: center;
    background-size: cover;
}

h1, h3 {
    color: black;
    text-align: center;
    padding: 15px;
    font-family: 'Creepster', cursive;
}

.img-cust{
    height: 150px;
}
